@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions
@{
    ViewData["Title"] = "Головна";
}
<div class="container-index">
    <div class="content"></div>
    <div class="container text">
        <div class="text-box">
            <h2>@localizer["InteractiveTitle"]</h2>
            <h1>
                @localizer["CultureAndTouristicalTitle"] <br>
                @localizer["MapTitle"] @localizer["KhmelnytskiyWord"]
            </h1>
            <a class="btn" href="#">@localizer["DetailTitle"]</a>
        </div>
    </div>
    <div class="box-info">
        <div class="box-info-block">
            <h3>2015</h3>
            <p>@localizer["AttractionTitle"]</p>
        </div>
        <div class="box-info-block">
            <h3>269</h3>
            <p>@localizer["NatureZonesTitle"]</p>
        </div>
    </div>
</div>
